
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    margin: 0;
    font-family: 'Roboto';
}

h1{
    text-align: center;
}

main{
    margin-top: 0;
}

.welcome{
    background-color: #d1dbfc;
}

.personal{
    background-color: #eaefff;
}

.professional{
    background-color: #d1dbfc;
}

header{
    margin-bottom: 0;
    background-color: #E6E6E6;
    background-image: url('../img/cover.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
}

.fechas{
    font-weight: bold;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #C4C4C4;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.titulo{
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 84.69%;
    letter-spacing: 10px;
    color: white;
}

.subtitulo{  
    text-align: center;
    justify-content: center;
    background-color: #C4C4C4;
    color: #005677;
    font-size: 20px;
    line-height: 84.69%;
}

footer{
    text-align: center;
    background-color: #005677;
    color: white; 
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 84.69%;
    margin-bottom: 0;
}

nav{
    margin-top: 0;
    background-color: #005677;
    color: #E6E6E6;
    text-decoration: none;
    padding: 1px;
}

nav ul{
    list-style: none;
    list-style-type: none;
}

nav li{
    display: inline-block;
    margin-right: 10px;
}

nav a{
    color: white;
    text-decoration: none;
}